@import "_var.scss";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 1.125rem;
}

img{
    max-width: 100%;
}

main{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $clr-very-dark-blue-main;
    font-family: $ff-outift;
}

.card{
    background-color: $clr-very-dark-blue-card;
    padding: 25px;
    max-width: 340px;
    display: flex;
    flex-flow: column;
    gap: 20px;
    border-radius: 20px;

    picture{
        background-color: $clr-cyan;
        line-height: 0;
        border-radius: 12px;
        position: relative;
        cursor: pointer;

        &:hover{
            .img-view {
                display: block;
            }
            .img-principal{
                opacity: 50%;
            }
        }

        .img-principal{
            border-radius: 10px;
        }

        .img-view{
            display: none;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    h1{
        color: $clr-white;
        font-size: 1.4rem;
        cursor: pointer;

        &:hover{
            color: $clr-cyan;
        }
    }

    h2{
        font-size: 1rem;
        line-height: 150%;
        font-weight: $fw-light;
        color: $clr-soft-blue;
    }

    &-price{
        display: flex;
        justify-content: space-between;
        align-items: center;

        .flex-row{
            display: flex;
            gap: 8px;
            flex-flow: row nowrap;
        }

        .price{
            p{
                font-size: .9rem;
                color: $clr-cyan;
            }
        }
        .time{
            p{
                font-size: .9rem;
                color: $clr-soft-blue;
            }
        }
    }

    &-author{
        border-top: 1px solid $clr-very-dark-blue-line;
        height: 60px;
        padding-top: 20px;
        display: flex;
        align-items: center;
        gap: 20px;

        img{
            width: 35px;
            height: 35px;
            border: 2px solid $clr-white;
            border-radius: 100%;
        }

        p{
            font-size: 1rem;
            color: $clr-soft-blue;

            span{
                font-size: 1rem;
                color: $clr-white;
                cursor: pointer;

                &:hover{
                    color: $clr-cyan;
                }
            }
        }
    }

}

